@model MVC1.ViewModel.MovieViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>MovieReview</h1>


<br />
<div align="center">Welcome to Movie Review</div>
<div align="center">If you like a movie click on it to review, but do not forget to login for full access </div>
<br />
<br />
<div align="center" style="font-size:20px; font-weight:bold;">Top Rated</div>

@foreach (var movie in @Model.TopRatedMovies)
{
    <div align="center">
        <a href="~/Home/MovieDetails/@movie.MovieId">@movie.Title</a> @movie.Rating*
    </div>
}

<br />
<div align="center" style="font-size:20px; font-weight:bold;">New</div>
@foreach (var movie in @Model.NewMovies)
{
    <div align="center">
        <a href="~/Home/MovieDetails/@movie.MovieId">@movie.Title</a>
        @movie.ReleaseDate.ToString("dd MMM yyyy")
    </div>
}

<br />
<div align="center" style="font-size:20px; font-weight:bold;">Up Coming</div>
<div align="center">
    @foreach (var movie in @Model.UpComingMovies)
    {
        <a href="~/Home/MovieDetails/@movie.MovieId">
            <img src="@movie.LogoLink" alt="Logo" />
        </a>
    }
</div>
